{% extends 'base.html.twig' %}
{% block title %} mon profile  {% endblock %}
{% block body %}

<!-- Wrap -->


    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">

                <img src=" {{ asset('bundles/app/images/logo-banner.png') }}" >
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->

    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn element-page bg-white clearfix">
                <!--Breakcrumb-->
                <section class="breakcrumb-sc">
                    <ul class="breadcrumb arrow">
                        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                        <li>My Profile</li>
                    </ul>
                </section>
                <!--End Breakcrumb-->

                <section class="user-profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-profile__header">
                                <h4>{{ ProfileCroisiere.nomCompa}}_{{ ProfileCroisiere.nomCompa }}</h4>
                                <span>Member Sincen {{ ProfileCroisiere.dateInscrit | date('M') }} {{ ProfileCroisiere.dateInscrit | date('Y') }}</span>
                                <p>

                                    <img src="{{ asset('images/products/'~ProfileCroisiere.imageName) }}" alt="">
                                </p>
                            </div>

                            <ul class="user-profile__navigation">
                                <li><a href=""><img src="{{ asset('bundles/app/images/icon/icon-cart.png') }}" alt="">Bookings</a></li>
                                <li class="current"><a href="{{ path('cruiser_profile') }}"><img src="{{ asset('bundles/app/images/icon/icon-user.png') }}" alt="">My profile</a></li>
                                <li><a href="{{ path('show_ship') }}"><img src="{{ asset('bundles/app/images/icon/icon-review.png') }}" alt="">My Ships</a></li>
                                <li><a href="{{ path('show_cruise') }}"><img src="{{ asset('bundles/app/images/icon/icon-setting.png') }}" alt="">My Cruises</a></li>
                                <li><a href="{{ path('cruise_pictures') }}"><img src="{{ asset('bundles/app/images/icon/icon-heart.png') }}" alt="">Pictures</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('bundles/app/images/icon/icon-back.png') }}" alt="">Sign out</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9">


                            <div class="my-profile">

                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="my-profile__title">Company Information</h4>
                                        <ul>
                                            <li><span>Company Name</span>{{ ProfileCroisiere.nomCompa }}

                                                &nbsp;
                                                {% if (ProfileCroisiere.stars == 4) %} <!--no star-->
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                    {% elseif (ProfileCroisiere.stars) == 3 %}<!--one star-->
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                    {% elseif (ProfileCroisiere.stars) == 2 %}<!--one star-->
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                    {% elseif (ProfileCroisiere.stars) == 1 %}<!--one star-->
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                    {% elseif (ProfileCroisiere.stars) == 5 %}<!--one star-->
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                        <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>


                                                        {% endif %}</li>
                                            <li><span>TRN *</span>{{ProfileCroisiere.getMatFisc() }}</li>

                                            <li><span>PiC *</span>{{ ProfileCroisiere.postComp }}</li>
                                        </ul>
                                        <br>
                                        <h4 class="my-profile__title">User Information</h4>
                                        <ul>

                                            <li><span>First Name</span>{{ ProfileCroisiere.firstName }}</li>
                                            <li><span>Last Name</span>{{ ProfileCroisiere.lastName }}</li>
                                            <li><span>Email</span>{{ email }}</li>
                                            <li><span>Phone number</span>{{ ProfileCroisiere.phoneNum }}</li>




                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="my-profile__title">Location</h4>
                                        <ul>
                                            <li><span>State</span>{{ ProfileCroisiere.state }}</li>
                                            <li><span> City</span>{{ ProfileCroisiere.city }}</li>
                                            <li><span>Street Address</span>{{ ProfileCroisiere.streetAdresse }}</li>
                                            <li><span>phone number</span>{{ ProfileCroisiere.phoneNum }}</li>

                                            <li><span>date of account  </span>{{ ProfileCroisiere.dateInscrit | date('y/m/d') }}</li>
                                        </ul>
                                        <p> * TRN :  tax registration number <br> * PiC : Position in the company</br>

                                    </div>
                                </div>

                                <p>
                                    you can edit your profile
                                </p>


                                <a href="{{ path('cruiser_ProfileSettings') }}" class="btn">Edit profile</a>



                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main -->



</div>
{% endblock %}

