{% extends 'base.html.twig' %}
{% block title %} Profile Hotel  {% endblock %}
{% block body %}

<!-- Wrap -->


    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">

                <img src=" {{ asset('bundles/app/images/logo-banner.png') }}" >
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->

    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn element-page bg-white clearfix">
                <!--Breakcrumb-->
                <section class="breakcrumb-sc">
                    <ul class="breadcrumb arrow">
                        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                        <li>My Profile</li>
                    </ul>
                </section>
                <!--End Breakcrumb-->

                <section class="user-profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-profile__header">
                                <h4>{{ Hotel.name }}</h4>
                                <span>Member Since {{ Hotel.dateInscrit | date('M') }} {{ Hotel.dateInscrit  | date('Y') }}</span>
                                <p>

                                    <img src="{{ asset('bundles/app/images/user/img-1.jpg') }}" alt="">
                                </p>
                            </div>

                            <ul class="user-profile__navigation">
                                <li><a href=""><img src="{{ asset('bundles/app/images/icon/icon-cart.png') }}" alt="">Bookings</a></li>
                                <li class="current"><a href=""><img src="{{ asset('bundles/app/images/icon/icon-user.png') }}" alt="">Facilities</a></li>
                                <li><a href=""><img src="{{ asset('bundles/app/images/icon/icon-review.png') }}" alt="">Manage Offers</a></li>
                                <li><a href="{{ path('hotel_ProfileSettings') }}"><img src="{{ asset('bundles/app/images/icon/icon-setting.png') }}" alt="">Settings</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/icon/icon-heart.png') }}" alt="">Rooms & Price Tables </a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('bundles/app/images/icon/icon-back.png') }}" alt="">Sign out</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9">


                            <div class="my-profile">

                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="my-profile__title">Global Information</h4>
                                        <ul>
                                            <li><span>Hotel</span>{{ Hotel.name }}</li>
                                            <li><span>Stars</span>{% if (Hotel.stars == 4) %} <!--no star-->
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                            {% elseif (Hotel.stars) == 3 %}<!--one star-->
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                            {% elseif (Hotel.stars) == 2 %}<!--one star-->
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                            {% elseif (Hotel.stars) == 1 %}<!--one star-->
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                            {% elseif (Hotel.stars) == 5 %}<!--one star-->
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>
                                                <i class="fa fa-star" style ="color:#FFD700" aria-hidden="true"></i>


                                                {% endif %}</li>
                                            <li><span>MF or NRHPO :</span>{{ Hotel.matriculefiscale }}</li>
                                            <li><span>Email</span>{{ email }}</li>



                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="my-profile__title">Location</h4>
                                        <ul>
                                            <li><span>State</span>{{ Hotel.gouvernorat }}</li>
                                            <li><span>Country</span>{{ Hotel.country }}</li>
                                            <li><span>Street Address</span>{{ Hotel.adresse }}</li>
                                            <li><span>phone number</span>{{ Hotel.phone }}</li>

                                            <li><span>Member since</span>{{ Hotel.dateInscrit | date('y/m/d') }}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="my-profile__title">Historical Information</h4>
                                        <ul>
                                            <li><span>Architectural Style</span>{{ Hotel.architecture }}</li>
                                            <li><span>Built in </span>{{ Hotel.dateInscrit | date('y/m/d') }}</li>
                                            <li><span>About</span>{{ Hotel.description }}</li>


                                        </ul>
                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="my-profile__title">Settings</h4>
                                        <ul>
                                            <p>
                                                you can edit/complete your profile
                                            </p>


                                            <a href="{{ path('hotel_ProfileSettings') }}" class="btn">Edit profile</a>
                                        </ul>
                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main -->



</div>
{% endblock %}

