{% extends 'base.html.twig' %}
{% block title %} Settings{% endblock %}
{% block body %}



    <!-- Wrap -->
    <div id="wrap">


    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">

                <img src="{{ asset('bundles/app/images/logo-banner.png') }}" alt="">
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->

    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn element-page bg-white clearfix">
                <!--Breakcrumb-->
                <section class="breakcrumb-sc">
                    <ul class="breadcrumb arrow">
                        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                        <li>User Reviews</li>
                    </ul>
                </section>
                <!--End Breakcrumb-->

                <section class="user-profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-profile__header">
                                <h4>{{ Hotel.name }}</h4>
                                <span>Member Since {{ Hotel.dateInscrit | date('M') }} {{ Hotel.dateInscrit  | date('Y') }}</span>
                                <p>

                                    <img src="{{ asset('bundles/app/images/user/img-1.jpg') }}" alt="">
                                </p>
                            </div>

                            <ul class="user-profile__navigation">
                                <li><a href=""><img src="{{ asset('bundles/app/images/icon/icon-cart.png') }}" alt="">Bookings</a></li>
                                <li class="current"><a href=""><img src="{{ asset('bundles/app/images/icon/icon-user.png') }}" alt="">Facilities</a></li>
                                <li><a href=""><img src="{{ asset('bundles/app/images/icon/icon-review.png') }}" alt="">Manage Offers</a></li>
                                <li><a href="{{ path('profileEventSetting') }}"><img src="{{ asset('bundles/app/images/icon/icon-setting.png') }}" alt="">Settings</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/icon/icon-heart.png') }}" alt="">Rooms & Price Tables </a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><img src="{{ asset('bundles/app/images/icon/icon-back.png') }}" alt="">Sign out</a></li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <h2 class="user-profile__title">Settings</h2>
                            <div class="user-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Personal Information</h3>
                                        {{ form_start(form)}}
                                        <div class="field-input">
                                            {{ form_widget(form.name, {'attr': {'class': 'form-control','placeholder':'First Name' }}) }}

                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.stars, {'attr': {'class': 'form-control','placeholder':'Stars' }}) }}
                                        </div>

                                        <div class="field-input">
                                            {{ form_widget(form.phone, {'attr': {'class': 'form-control','placeholder':'phone number' }}) }}

                                        </div>
                                        <h3>Location</h3>
                                        <div class="field-input">
                                            {{ form_widget(form.country, {'attr': {'class': 'form-control','placeholder':'Country' }}) }}

                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.gouvernorat, {'attr': {'class': 'form-control','placeholder':'State' }}) }}

                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.adresse, {'attr': {'class': 'form-control','placeholder':'Street' }}) }}

                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.map_link, {'attr': {'class': 'form-control','placeholder':'Google Map' }}) }}


                                        </div>
                                        <h4>Historical Facts</h4>
                                        <div class="field-input">
                                            {{ form_widget(form.description, {'attr': {'class': 'form-control','placeholder':'About' }}) }}


                                        </div>


                                        <div class="field-input">
                                            {{ form_widget(form.matricule_fiscale, {'attr': {'class': 'form-control','placeholder':'MF/NRHPO' }}) }}


                                        </div>

                                        <div class="field-input">
                                            {{ form_widget(form.dateBuilt, {'attr': {'class': 'form-control','placeholder':'Date of Construction' }}) }}


                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.architecture, {'attr': {'class': 'form-control','placeholder':'Architecture' }}) }}


                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form.Save, {'attr': {'class': 'awe-btn awe-btn-1 awe-btn-medium' }}) }}


                                        </div>
                                        {{ form_end(form) }}
                                    </div>
                                    <div class="col-md-6">
                                        <h3>Change Password</h3>
                                        {{ form_start(form1) }}
                                        <div class="field-input">
                                            {{ form_widget(form1.current_password, {'attr': {'class': 'form-control','placeholder':'current password' }}) }}
                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form1.plainPassword.first, {'attr': {'class': 'form-control','placeholder':'new password' }}) }}
                                        </div>
                                        <div class="field-input">
                                            {{ form_widget(form1.plainPassword.second, {'attr': {'class': 'form-control','placeholder':'new password again' }}) }}
                                        </div>
                                        <div class="field-input">
                                            <button class="awe-btn awe-btn-1 awe-btn-medium">Change Password</button>
                                        </div>
                                        {{ form_end(form1) }}

                                        <h3>Languages</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main -->

{% endblock %}