{% extends 'base.html.twig' %}
{% block title %} Setting {% endblock %}
{% block body %}




    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">

                <img src="{{ asset('bundles/app/images/logo-banner.png') }}" alt="">
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->

    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn element-page bg-white clearfix">
                <!--Breakcrumb-->
                <section class="breakcrumb-sc">
                    <ul class="breadcrumb arrow">
                        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                        <li>User Reviews</li>
                    </ul>
                </section>
                <!--End Breakcrumb-->

                <section class="user-profile">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="user-profile__header">
                                <h4>Sarah Brown</h4>
                                <span>Member Sincen May 2012</span>
                                <p>

                                    <img src="{{ asset('bundles/app/images/user/img-1.jpg') }}" alt="">
                                </p>
                            </div>

                            <ul class="user-profile__navigation">
                                <li><a href="{{path('listbooking') }}"><img src="{{ asset('bundles/app/images/icon/icon-cart.png') }}" alt="">My Bookings</a></li>
                                <li> <a href="{{path('userprofile') }}"><img src="{{ asset('bundles/app/images/icon/icon-user.png') }}" alt="">My profile</a></li>
                                <li><a href="{{path('review') }}"><img src="{{ asset('bundles/app/images/icon/icon-review.png') }}" alt="">My reviews</a></li>
                                <li class="current"><a href="{{path('setting') }}"><img src="{{ asset('bundles/app/images/icon/icon-setting.png') }}" alt="">Settings</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/icon/icon-heart.png') }}" alt="">Wishlist</a></li>
                                <li><a href="#"><img src="{{ asset('bundles/app/images/icon/icon-back.png') }}" alt="">Sign out</a></li>
                            </ul>

                        </div>
                        <div class="col-md-9">
                            <h2 class="user-profile__title">Settings</h2>
                            <div class="user-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Personal Information</h3>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="First Name">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="Last Name">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="Email">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="Phone number">
                                        </div>
                                        <h3>Location</h3>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="Home Airport">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="Street Address">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="City">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="Country of Passport">
                                        </div>
                                        <div class="field-input">
                                            <button class="awe-btn awe-btn-1 awe-btn-medium">Save Changes</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>Change Password</h3>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="Current Password">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="New Password">
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" value="New Password Again">
                                        </div>
                                        <div class="field-input">
                                            <button class="awe-btn awe-btn-1 awe-btn-medium">Change Password</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main -->

{% endblock %}