{% extends 'base.html.twig' %}
{% block title %} review {% endblock %}
{% block body %}


    <!--Banner-->
    <section class="sub-banner">
        <!--Background-->
        <div class="bg-parallax bg-1"></div>
        <!--End Background-->
        <!-- Logo -->
        <div class="logo-banner text-center">
            <a href="" title="">
                <img src="images/logo-banner.png" alt="">
            </a>
        </div>
        <!-- Logo -->
    </section>
    <!--End Banner-->

    <!-- Main -->
    <div class="main">
        <div class="container">
            <div class="main-cn element-page bg-white clearfix">
                <!--Breakcrumb-->
                <section class="breakcrumb-sc">
                    <ul class="breadcrumb arrow">
                        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                        <li>User Reviews</li>
                    </ul>
                </section>
                <!--End Breakcrumb-->

                <section class="user-profile">
                    <div class="row">
                            <div class="col-md-3">
                                <div class="user-profile__header">
                                    <h4>Sarah Brown</h4>
                                    <span>Member Sincen May 2012</span>
                                    <p>

                                        <img src="{{ asset('bundles/app/images/user/img-1.jpg') }}" alt="">
                                    </p>
                                </div>

                                <ul class="user-profile__navigation">
                                    <li><a href="{{path('listbooking') }}"><img src="{{ asset('bundles/app/images/icon/icon-cart.png') }}" alt="">My Bookings</a></li>
                                    <li ><a href="{{path('userprofile') }}"><img src="{{ asset('bundles/app/images/icon/icon-user.png') }}" alt="">My profile</a></li>
                                    <li class="current"><a href="{{path('review') }}"><img src="{{ asset('bundles/app/images/icon/icon-review.png') }}" alt="">My reviews</a></li>
                                    <li><a href="{{path('setting') }}"><img src="{{ asset('bundles/app/images/icon/icon-setting.png') }}" alt="">Settings</a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/app/images/icon/icon-heart.png') }}" alt="">Wishlist</a></li>
                                    <li><a href="#"><img src="{{ asset('bundles/app/images/icon/icon-back.png') }}" alt="">Sign out</a></li>
                                </ul>
                        </div>
                        <div class="col-md-9">
                            <h2 class="user-profile__title">My Reviews</h2>
                            <div class="user-review">

                                <!-- Review Item -->
                                <div class="row review-item">
                                    <div class="col-xs-12">
                                        <div class="review-header">
                                            <span class="date">3/2/ 2014</span>
                                            <h4>Grand Plaza Serviced Apartments
                                                <span class="star">
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    </span>
                                            </h4>
                                            <a href="#" class="btn">See detail</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 review-number">
                                        <ins>5.6</ins>
                                    </div>
                                    <div class="col-xs-9 review-text">
                                        <ul>
                                            <li><span class="icon fa fa-plus"></span>Location, warmth, cleanliness</li>
                                            <li><span class="icon icon-minus fa fa-minus"></span>Noisy, expensive</li>
                                        </ul>
                                        <p>
                                            Our stay was pleasant and joyful. We stayed in an apartment meant for 3 adults. First and foremost, close proximity to tube station was the reason of choosing this hotel. The cleaning services were fantastic. The support services were prompt...
                                        </p>
                                    </div>
                                </div>
                                <!-- End Review Item -->

                                <!-- Review Item -->
                                <div class="row review-item">
                                    <div class="col-xs-12">
                                        <div class="review-header">
                                            <span class="date">3/2/ 2014</span>
                                            <h4>Grand Plaza Serviced Apartments
                                                <span class="star">
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    </span>
                                            </h4>
                                            <a href="#" class="btn">See detail</a>
                                        </div>
                                    </div>

                                    <div class="col-xs-3 review-number">
                                        <ins>9.0</ins>
                                    </div>
                                    <div class="col-xs-9 review-text">
                                        <ul>
                                            <li><span class="icon fa fa-plus"></span>Location, warmth, cleanliness</li>
                                        </ul>
                                        <p>
                                            Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults with kitchen facilities. The cleaning services were superp. We liked the laundry and kitchen cleaning services on top of the regular cleaning services. The support services were prompt...much needed extra bowls were delivered in a jiffy. Front desk were very cotdial and helpful though working under at times. Needed travel arrangements and info were delivered with smiles. Delivering luggeges to the room was done witbout request.. Computer and printing service in the lobby was really helpful...tbe charge reasonable
                                        </p>

                                    </div>
                                </div>
                                <!-- End Review Item -->

                                <!-- Review Item -->
                                <div class="row review-item">
                                    <div class="col-xs-12">
                                        <div class="review-header">
                                            <span class="date">3/2/ 2014</span>
                                            <h4>Grand Plaza Serviced Apartments
                                                <span class="star">
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    </span>
                                            </h4>
                                            <a href="#" class="btn">See detail</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 review-number">
                                        <ins>5.6</ins>
                                    </div>
                                    <div class="col-xs-9 review-text">
                                        <ul>
                                            <li><span class="icon fa fa-plus"></span>Location, warmth, cleanliness</li>
                                            <li><span class="icon icon-minus fa fa-minus"></span>Noisy, expensive</li>
                                        </ul>
                                        <p>
                                            Our stay was pleasant and joyful. We stayed in an apartment meant for 3 adults. First and foremost, close proximity to tube station was the reason of choosing this hotel. The cleaning services were fantastic. The support services were prompt...
                                        </p>
                                    </div>
                                </div>
                                <!-- End Review Item -->

                                <!-- Review Item -->
                                <div class="row review-item">
                                    <div class="col-xs-12">
                                        <div class="review-header">
                                            <span class="date">3/2/ 2014</span>
                                            <h4>Grand Plaza Serviced Apartments
                                                <span class="star">
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                        <i class="glyphicon glyphicon-star"></i>
                                                    </span>
                                            </h4>
                                            <a href="#" class="btn">See detail</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 review-number">
                                        <ins>9.0</ins>
                                    </div>
                                    <div class="col-xs-9 review-text">
                                        <ul>
                                            <li><span class="icon fa fa-plus"></span>Location, warmth, cleanliness</li>
                                        </ul>
                                        <p>
                                            Our stay was pleasant and welcoming. We stayed in an apartment meant for 3 adults with kitchen facilities. The cleaning services were superp. We liked the laundry and kitchen cleaning services on top of the regular cleaning services. The support services were prompt...much needed extra bowls were delivered in a jiffy. Front desk were very cotdial and helpful though working under at times. Needed travel arrangements and info were delivered with smiles. Delivering luggeges to the room was done witbout request.. Computer and printing service in the lobby was really helpful...tbe charge reasonable
                                        </p>
                                    </div>
                                </div>
                                <!-- End Review Item -->

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- End Main -->

{% endblock %}